﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EditOrganization.aspx.cs" Inherits="WebAdminPanel.Pages.EditOrganization" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h3>Добавить услугу в организацию</h3>
</asp:Content>
