﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Data.aspx.cs" Inherits="WebEkyzmat.Data" %>

<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.2.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title>Metronic | Blank Page Layout</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
  <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
  <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
  <!-- END GLOBAL MANDATORY STYLES -->
  <!-- BEGIN THEME STYLES -->
  <link href="assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
  <link href="assets/global/css/plugins.css" rel="stylesheet" type="text/css">
  <link href="assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
  <link href="assets/admin/layout3/css/themes/red-intense.css" rel="stylesheet" type="text/css" id="style_color">
  <link href="assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
  <!-- END THEME STYLES -->
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body>
  <!-- BEGIN HEADER -->
  <div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
      <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
          <a href="index.html">
            <%--<img src="assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default"></a>--%>
            <span style="font-size:32px; font-weight:normal;">e-Kyzmat</span>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
         <%-- <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="header_notification_bar">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-bell"></i>
                <span class="badge badge-default">7</span>
              </a>
              <ul class="dropdown-menu">
                <li class="external">
                  <h3>You have <strong>12 pending</strong> tasks</h3>
                  <a href="javascript:;">view all</a>
                </li>
                <li>
                  <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                    <li>
                      <a href="javascript:;">
                        <span class="time">just now</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-success">
                            <i class="fa fa-plus"></i>
                          </span>
                          New user registered. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">3 mins</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-danger">
                            <i class="fa fa-bolt"></i>
                          </span>
                          Server #12 overloaded. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">10 mins</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-warning">
                            <i class="fa fa-bell-o"></i>
                          </span>
                          Server #2 not responding. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">14 hrs</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-info">
                            <i class="fa fa-bullhorn"></i>
                          </span>
                          Application error. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">2 days</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-danger">
                            <i class="fa fa-bolt"></i>
                          </span>
                          Database overloaded 68%. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">3 days</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-danger">
                            <i class="fa fa-bolt"></i>
                          </span>
                          A user IP blocked. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">4 days</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-warning">
                            <i class="fa fa-bell-o"></i>
                          </span>
                          Storage Server #4 not responding dfdfdfd. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">5 days</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-info">
                            <i class="fa fa-bullhorn"></i>
                          </span>
                          System Error. </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="time">9 days</span>
                        <span class="details">
                          <span class="label label-sm label-icon label-danger">
                            <i class="fa fa-bolt"></i>
                          </span>
                          Storage server failed. </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN TODO DROPDOWN -->
            <li class="dropdown dropdown-extended dropdown-dark dropdown-tasks" id="header_task_bar">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-calendar"></i>
                <span class="badge badge-default">3</span>
              </a>
              <ul class="dropdown-menu extended tasks">
                <li class="external">
                  <h3>You have <strong>12 pending</strong> tasks</h3>
                  <a href="javascript:;">view all</a>
                </li>
                <li>
                  <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">New release v1.2 </span>
                          <span class="percent">30%</span>
                        </span>
                        <span class="progress">
                          <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">40% Complete</span></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">Application deployment</span>
                          <span class="percent">65%</span>
                        </span>
                        <span class="progress">
                          <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">65% Complete</span></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">Mobile app release</span>
                          <span class="percent">98%</span>
                        </span>
                        <span class="progress">
                          <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">98% Complete</span></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">Database migration</span>
                          <span class="percent">10%</span>
                        </span>
                        <span class="progress">
                          <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">10% Complete</span></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">Web server upgrade</span>
                          <span class="percent">58%</span>
                        </span>
                        <span class="progress">
                          <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">58% Complete</span></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">Mobile development</span>
                          <span class="percent">85%</span>
                        </span>
                        <span class="progress">
                          <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">85% Complete</span></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="task">
                          <span class="desc">New UI release</span>
                          <span class="percent">38%</span>
                        </span>
                        <span class="progress progress-striped">
                          <span style="width: 38%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">38% Complete</span></span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- END TODO DROPDOWN -->
            <li class="droddown dropdown-separator">
              <span class="separator"></span>
            </li>
            <!-- BEGIN INBOX DROPDOWN -->
            <li class="dropdown dropdown-extended dropdown-dark dropdown-inbox" id="header_inbox_bar">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="circle">3</span>
                <span class="corner"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="external">
                  <h3>You have <strong>7 New</strong> Messages</h3>
                  <a href="javascript:;">view all</a>
                </li>
                <li>
                  <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                    <li>
                      <a href="inbox.html?a=view">
                        <span class="photo">
                          <img src="assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
                        </span>
                        <span class="subject">
                          <span class="from">Lisa Wong </span>
                          <span class="time">Just Now </span>
                        </span>
                        <span class="message">Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                      </a>
                    </li>
                    <li>
                      <a href="inbox.html?a=view">
                        <span class="photo">
                          <img src="assets/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
                        </span>
                        <span class="subject">
                          <span class="from">Richard Doe </span>
                          <span class="time">16 mins </span>
                        </span>
                        <span class="message">Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                      </a>
                    </li>
                    <li>
                      <a href="inbox.html?a=view">
                        <span class="photo">
                          <img src="assets/admin/layout3/img/avatar1.jpg" class="img-circle" alt="">
                        </span>
                        <span class="subject">
                          <span class="from">Bob Nilson </span>
                          <span class="time">2 hrs </span>
                        </span>
                        <span class="message">Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                      </a>
                    </li>
                    <li>
                      <a href="inbox.html?a=view">
                        <span class="photo">
                          <img src="assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
                        </span>
                        <span class="subject">
                          <span class="from">Lisa Wong </span>
                          <span class="time">40 mins </span>
                        </span>
                        <span class="message">Vivamus sed auctor 40% nibh congue nibh... </span>
                      </a>
                    </li>
                    <li>
                      <a href="inbox.html?a=view">
                        <span class="photo">
                          <img src="assets/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
                        </span>
                        <span class="subject">
                          <span class="from">Richard Doe </span>
                          <span class="time">46 mins </span>
                        </span>
                        <span class="message">Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- END INBOX DROPDOWN -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown dropdown-user dropdown-dark">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" class="img-circle" src="assets/admin/layout3/img/avatar9.jpg">
                <span class="username username-hide-mobile">Nick</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <a href="extra_profile.html">
                    <i class="icon-user"></i>My Profile </a>
                </li>
                <li>
                  <a href="page_calendar.html">
                    <i class="icon-calendar"></i>My Calendar </a>
                </li>
                <li>
                  <a href="inbox.html">
                    <i class="icon-envelope-open"></i>My Inbox <span class="badge badge-danger">3 </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="icon-rocket"></i>My Tasks <span class="badge badge-success">7 </span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="extra_lock.html">
                    <i class="icon-lock"></i>Lock Screen </a>
                </li>
                <li>
                  <a href="login.html">
                    <i class="icon-key"></i>Log Out </a>
                </li>
              </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
          </ul>
        </div>--%>
        <!-- END TOP NAVIGATION MENU -->
      </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
    <%--  <div class="container">
        <!-- BEGIN HEADER SEARCH BOX -->
        <form class="search-form" action="extra_search.html" method="GET">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="query">
            <span class="input-group-btn">
              <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
            </span>
          </div>
        </form>
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu ">
          <ul class="nav navbar-nav">
            <li>
              <a href="index.html">Dashboard</a>
            </li>
            <li class="menu-dropdown mega-menu-dropdown active">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">Features <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu" style="min-width: 710px">
                <li>
                  <div class="mega-menu-content">
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>eCommerce</h3>
                          </li>
                          <li>
                            <a href="ecommerce_index.html" class="iconify">
                              <i class="icon-home"></i>
                              eCommerce </a>
                          </li>
                          <li>
                            <a href="ecommerce_orders.html" class="iconify">
                              <i class="icon-basket"></i>
                              Manage Orders </a>
                          </li>
                          <li>
                            <a href="ecommerce_orders_view.html" class="iconify">
                              <i class="icon-tag"></i>
                              Order View </a>
                          </li>
                          <li>
                            <a href="ecommerce_products.html" class="iconify">
                              <i class="icon-handbag"></i>
                              Manage Products </a>
                          </li>
                          <li>
                            <a href="ecommerce_products_edit.html" class="iconify">
                              <i class="icon-pencil"></i>
                              Product Edit </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>Layouts</h3>
                          </li>
                          <li>
                            <a href="layout_fluid.html" class="iconify">
                              <i class="icon-cursor-move"></i>
                              Fluid Layout </a>
                          </li>
                          <li>
                            <a href="layout_mega_menu_fixed.html" class="iconify">
                              <i class="icon-pin"></i>
                              Fixed Mega Menu </a>
                          </li>
                          <li>
                            <a href="layout_top_bar_fixed.html" class="iconify">
                              <i class="icon-bar-chart"></i>
                              Fixed Top Bar </a>
                          </li>
                          <li>
                            <a href="layout_light_header.html" class="iconify">
                              <i class="icon-paper-plane"></i>
                              Light Header Dropdowns </a>
                          </li>
                          <li class="active">
                            <a href="layout_blank_page.html" class="iconify">
                              <i class="icon-doc"></i>
                              Blank Page Layout </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>More Layouts</h3>
                          </li>
                          <li>
                            <a href="layout_click_dropdowns.html" class="iconify">
                              <i class="icon-speech"></i>
                              Click vs. Hover Dropdowns </a>
                          </li>
                          <li>
                            <a href="layout_fontawesome_icons.html" class="iconify">
                              <i class="icon-link"></i>
                              Layout with Fontawesome </a>
                          </li>
                          <li>
                            <a href="layout_glyphicons.html" class="iconify">
                              <i class="icon-settings"></i>
                              Layout with Glyphicon </a>
                          </li>
                          <li>
                            <a href="layout_language_bar.html" class="iconify">
                              <i class="icon-globe"></i>
                              Language Switch Bar </a>
                          </li>
                          <li>
                            <a href="layout_disabled_menu.html" class="iconify">
                              <i class=" icon-lock"></i>
                              Disabled Menu Links </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="menu-dropdown mega-menu-dropdown mega-menu-full ">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">UI Components <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="mega-menu-content">
                    <div class="row">
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>UI Components</h3>
                          </li>
                          <li>
                            <a href="ui_general.html">
                              <i class="fa fa-angle-right"></i>
                              General </a>
                          </li>
                          <li>
                            <a href="ui_buttons.html">
                              <i class="fa fa-angle-right"></i>
                              Buttons </a>
                          </li>
                          <li>
                            <a href="ui_icons.html">
                              <i class="fa fa-angle-right"></i>
                              Font Icons </a>
                          </li>
                          <li>
                            <a href="ui_colors.html">
                              <i class="fa fa-angle-right"></i>
                              Flat UI Colors </a>
                          </li>
                          <li>
                            <a href="ui_typography.html">
                              <i class="fa fa-angle-right"></i>
                              Typography </a>
                          </li>
                          <li>
                            <a href="ui_tabs_accordions_navs.html">
                              <i class="fa fa-angle-right"></i>
                              Tabs, Accordions & Navs </a>
                          </li>
                          <li>
                            <a href="ui_tree.html">
                              <i class="fa fa-angle-right"></i>
                              Tree View </a>
                          </li>
                          <li>
                            <a href="ui_page_progress_style_1.html">
                              <i class="fa fa-angle-right"></i>
                              Page Progress Bar <span class="badge badge-roundless badge-warning">new</span></a>
                          </li>
                          <li>
                            <a href="ui_blockui.html">
                              <i class="fa fa-angle-right"></i>
                              Block UI </a>
                          </li>
                          <li>
                            <a href="ui_notific8.html">
                              <i class="fa fa-angle-right"></i>
                              Notific8 Notifications </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>More UI Components</h3>
                          </li>
                          <li>
                            <a href="ui_toastr.html">
                              <i class="fa fa-angle-right"></i>
                              Toastr Notifications </a>
                          </li>
                          <li>
                            <a href="ui_alert_dialog_api.html">
                              <i class="fa fa-angle-right"></i>
                              Alerts & Dialogs API <span class="badge badge-roundless badge-danger">new</span></a>
                          </li>
                          <li>
                            <a href="ui_session_timeout.html">
                              <i class="fa fa-angle-right"></i>
                              Session Timeout </a>
                          </li>
                          <li>
                            <a href="ui_idle_timeout.html">
                              <i class="fa fa-angle-right"></i>
                              User Idle Timeout </a>
                          </li>
                          <li>
                            <a href="ui_modals.html">
                              <i class="fa fa-angle-right"></i>
                              Modals </a>
                          </li>
                          <li>
                            <a href="ui_extended_modals.html">
                              <i class="fa fa-angle-right"></i>
                              Extended Modals </a>
                          </li>
                          <li>
                            <a href="ui_tiles.html">
                              <i class="fa fa-angle-right"></i>
                              Tiles </a>
                          </li>
                          <li>
                            <a href="ui_datepaginator.html">
                              <i class="fa fa-angle-right"></i>
                              Date Paginator </a>
                          </li>
                          <li>
                            <a href="ui_nestable.html">
                              <i class="fa fa-angle-right"></i>
                              Nestable List </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>Form Stuff</h3>
                          </li>
                          <li>
                            <a href="form_controls.html">
                              <i class="fa fa-angle-right"></i>
                              Form Controls </a>
                          </li>
                          <li>
                            <a href="form_icheck.html">
                              <i class="fa fa-angle-right"></i>
                              iCheck Controls </a>
                          </li>
                          <li>
                            <a href="form_layouts.html">
                              <i class="fa fa-angle-right"></i>
                              Form Layouts </a>
                          </li>
                          <li>
                            <a href="form_editable.html">
                              <i class="fa fa-angle-right"></i>
                              Form X-editable <span class="badge badge-roundless badge-success">new</span></a>
                          </li>
                          <li>
                            <a href="form_wizard.html">
                              <i class="fa fa-angle-right"></i>
                              Form Wizard </a>
                          </li>
                          <li>
                            <a href="form_validation.html">
                              <i class="fa fa-angle-right"></i>
                              Form Validation </a>
                          </li>
                          <li>
                            <a href="form_image_crop.html">
                              <i class="fa fa-angle-right"></i>
                              Image Cropping </a>
                          </li>
                          <li>
                            <a href="form_fileupload.html">
                              <i class="fa fa-angle-right"></i>
                              Multiple File Upload </a>
                          </li>
                          <li>
                            <a href="form_dropzone.html">
                              <i class="fa fa-angle-right"></i>
                              Dropzone File Upload </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>Form Components</h3>
                          </li>
                          <li>
                            <a href="components_pickers.html">
                              <i class="fa fa-angle-right"></i>
                              Date & Time Pickers </a>
                          </li>
                          <li>
                            <a href="components_context_menu.html">
                              <i class="fa fa-angle-right"></i>
                              Context Menu </a>
                          </li>
                          <li>
                            <a href="components_dropdowns.html">
                              <i class="fa fa-angle-right"></i>
                              Custom Dropdowns </a>
                          </li>
                          <li>
                            <a href="components_form_tools.html">
                              <i class="fa fa-angle-right"></i>
                              Form Tools </a>
                          </li>
                          <li>
                            <a href="components_editors.html">
                              <i class="fa fa-angle-right"></i>
                              Markdown & WYSIWYG Editors </a>
                          </li>
                          <li>
                            <a href="components_ion_sliders.html">
                              <i class="fa fa-angle-right"></i>
                              Ion Range Sliders </a>
                          </li>
                          <li>
                            <a href="components_noui_sliders.html">
                              <i class="fa fa-angle-right"></i>
                              NoUI Range Sliders </a>
                          </li>
                          <li>
                            <a href="components_jqueryui_sliders.html">
                              <i class="fa fa-angle-right"></i>
                              jQuery UI Sliders </a>
                          </li>
                          <li>
                            <a href="components_knob_dials.html">
                              <i class="fa fa-angle-right"></i>
                              Knob Circle Dials </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="menu-dropdown classic-menu-dropdown ">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Extra <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-left">
                <li class=" dropdown-submenu">
                  <a href=":;">
                    <i class="icon-briefcase"></i>
                    Data Tables </a>
                  <ul class="dropdown-menu">
                    <li class=" ">
                      <a href="table_basic.html">Basic Datatables </a>
                    </li>
                    <li class=" ">
                      <a href="table_tree.html">Tree Datatables </a>
                    </li>
                    <li class=" ">
                      <a href="table_responsive.html">Responsive Datatables </a>
                    </li>
                    <li class=" ">
                      <a href="table_managed.html">Managed Datatables </a>
                    </li>
                    <li class=" ">
                      <a href="table_editable.html">Editable Datatables </a>
                    </li>
                    <li class=" ">
                      <a href="table_advanced.html">Advanced Datatables </a>
                    </li>
                    <li class=" ">
                      <a href="table_ajax.html">Ajax Datatables </a>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown-submenu">
                  <a href=":;">
                    <i class="icon-wallet"></i>
                    Portlets </a>
                  <ul class="dropdown-menu">
                    <li class=" ">
                      <a href="portlet_general.html">General Portlets </a>
                    </li>
                    <li class=" ">
                      <a href="portlet_general2.html">New Portlets #1 <span class="badge badge-roundless badge-danger">new</span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="portlet_general3.html">New Portlets #2 <span class="badge badge-roundless badge-danger">new</span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="portlet_ajax.html">Ajax Portlets </a>
                    </li>
                    <li class=" ">
                      <a href="portlet_draggable.html">Draggable Portlets </a>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown-submenu">
                  <a href=":;">
                    <i class="icon-bar-chart"></i>
                    Charts </a>
                  <ul class="dropdown-menu">
                    <li class=" ">
                      <a href="charts_amcharts.html">amChart </a>
                    </li>
                    <li class=" ">
                      <a href="charts_flotcharts.html">Flotchart </a>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown-submenu">
                  <a href=":;">
                    <i class="icon-pointer"></i>
                    Maps </a>
                  <ul class="dropdown-menu">
                    <li class=" ">
                      <a href="maps_google.html">Google Maps </a>
                    </li>
                    <li class=" ">
                      <a href="maps_vector.html">Vector Maps </a>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown-submenu">
                  <a href=":;">
                    <i class="icon-puzzle"></i>
                    Multi Level </a>
                  <ul class="dropdown-menu">
                    <li class=" ">
                      <a href="javascript:;">
                        <i class="icon-settings"></i>
                        Item 1 </a>
                    </li>
                    <li class=" ">
                      <a href="javascript:;">
                        <i class="icon-user"></i>
                        Item 2 </a>
                    </li>
                    <li class=" ">
                      <a href="javascript:;">
                        <i class="icon-globe"></i>
                        Item 3 </a>
                    </li>
                    <li class=" dropdown-submenu">
                      <a href="#">
                        <i class="icon-folder"></i>
                        Sub Items </a>
                      <ul class="dropdown-menu">
                        <li class=" ">
                          <a href="javascript:;">Item 1 </a>
                        </li>
                        <li class=" ">
                          <a href="javascript:;">Item 2 </a>
                        </li>
                        <li class=" ">
                          <a href="javascript:;">Item 3 </a>
                        </li>
                        <li class=" ">
                          <a href="javascript:;">Item 4 </a>
                        </li>
                      </ul>
                    </li>
                    <li class=" ">
                      <a href="javascript:;">
                        <i class="icon-share"></i>
                        Item 4 </a>
                    </li>
                    <li class=" ">
                      <a href="javascript:;">
                        <i class="icon-bar-chart"></i>
                        Item 5 </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-dropdown mega-menu-dropdown mega-menu-full ">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">Pages <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="mega-menu-content">
                    <div class="row">
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>User Pages</h3>
                          </li>
                          <li>
                            <a href="page_timeline.html">
                              <i class="fa fa-angle-right"></i>
                              New Timeline <span class="badge badge-warning">2</span></a>
                          </li>
                          <li>
                            <a href="extra_profile.html">
                              <i class="fa fa-angle-right"></i>
                              New User Profile <span class="badge badge-success badge-roundless">new</span></a>
                          </li>
                          <li>
                            <a href="page_todo.html">
                              <i class="fa fa-angle-right"></i>
                              Todo & Tasks <span class="badge badge-danger">4</span></a>
                          </li>
                          <li>
                            <a href="inbox.html">
                              <i class="fa fa-angle-right"></i>
                              User Inbox <span class="badge badge-success">4</span></a>
                          </li>
                          <li>
                            <a href="page_calendar.html">
                              <i class="fa fa-angle-right"></i>
                              User Calendar <span class="badge badge-warning">14</span></a>
                          </li>
                          <li>
                            <a href="page_timeline_old.html">
                              <i class="fa fa-angle-right"></i>
                              Old Timeline <span class="badge badge-warning">2</span></a>
                          </li>
                          <li>
                            <a href="extra_profile_old.html">
                              <i class="fa fa-angle-right"></i>
                              Old User Profile </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>General Pages</h3>
                          </li>
                          <li>
                            <a href="extra_faq.html">
                              <i class="fa fa-angle-right"></i>
                              FAQ Page </a>
                          </li>
                          <li>
                            <a href="page_portfolio.html">
                              <i class="fa fa-angle-right"></i>
                              Portfolio </a>
                          </li>
                          <li>
                            <a href="page_timeline.html">
                              <i class="fa fa-angle-right"></i>
                              Timeline <span class="badge badge-info">4</span></a>
                          </li>
                          <li>
                            <a href="page_coming_soon.html">
                              <i class="fa fa-angle-right"></i>
                              Coming Soon </a>
                          </li>
                          <li>
                            <a href="extra_invoice.html">
                              <i class="fa fa-angle-right"></i>
                              Invoice </a>
                          </li>
                          <li>
                            <a href="page_blog.html">
                              <i class="fa fa-angle-right"></i>
                              Blog </a>
                          </li>
                          <li>
                            <a href="page_blog_item.html">
                              <i class="fa fa-angle-right"></i>
                              Blog Post </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>Custom Pages</h3>
                          </li>
                          <li>
                            <a href="page_news.html">
                              <i class="fa fa-angle-right"></i>
                              News <span class="badge badge-success">9</span></a>
                          </li>
                          <li>
                            <a href="page_news_item.html">
                              <i class="fa fa-angle-right"></i>
                              News View </a>
                          </li>
                          <li>
                            <a href="page_about.html">
                              <i class="fa fa-angle-right"></i>
                              About Us </a>
                          </li>
                          <li>
                            <a href="page_contact.html">
                              <i class="fa fa-angle-right"></i>
                              Contact Us </a>
                          </li>
                          <li>
                            <a href="extra_search.html">
                              <i class="fa fa-angle-right"></i>
                              Search Results </a>
                          </li>
                          <li>
                            <a href="extra_pricing_table.html">
                              <i class="fa fa-angle-right"></i>
                              Pricing Tables </a>
                          </li>
                          <li>
                            <a href="login.html">
                              <i class="fa fa-angle-right"></i>
                              Login Form 1 </a>
                          </li>
                          <li>
                            <a href="login_2.html">
                              <i class="fa fa-angle-right"></i>
                              Login Form 2 </a>
                          </li>
                          <li>
                            <a href="login_3.html">
                              <i class="fa fa-angle-right"></i>
                              Login Form 3 </a>
                          </li>
                          <li>
                            <a href="login_soft.html">
                              <i class="fa fa-angle-right"></i>
                              Login Form 4 </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-submenu">
                          <li>
                            <h3>Miscellaneous</h3>
                          </li>
                          <li>
                            <a href="extra_lock.html">
                              <i class="fa fa-angle-right"></i>
                              Lock Screen 1 </a>
                          </li>
                          <li>
                            <a href="extra_lock2.html">
                              <i class="fa fa-angle-right"></i>
                              Lock Screen 2 </a>
                          </li>
                          <li>
                            <a href="extra_404_option1.html">
                              <i class="fa fa-angle-right"></i>
                              404 Page Option 1 </a>
                          </li>
                          <li>
                            <a href="extra_404_option2.html">
                              <i class="fa fa-angle-right"></i>
                              404 Page Option 2 </a>
                          </li>
                          <li>
                            <a href="extra_404_option3.html">
                              <i class="fa fa-angle-right"></i>
                              404 Page Option 3 </a>
                          </li>
                          <li>
                            <a href="extra_500_option1.html">
                              <i class="fa fa-angle-right"></i>
                              500 Page Option 1 </a>
                          </li>
                          <li>
                            <a href="extra_500_option2.html">
                              <i class="fa fa-angle-right"></i>
                              500 Page Option 2 </a>
                          </li>
                          <li>
                            <a href="email_newsletter.html">
                              <i class="fa fa-angle-right"></i>
                              Newsletter Email Template </a>
                          </li>
                          <li>
                            <a href="email_system.html">
                              <i class="fa fa-angle-right"></i>
                              System Email Template </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="menu-dropdown">
              <a href="angularjs" target="_blank" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="AngularJS version demo">AngularJS Version </a>
            </li>
          </ul>
        </div>
        <!-- END MEGA MENU -->
      </div>--%>
    </div>
    <!-- END HEADER MENU -->
  </div>
  <!-- END HEADER -->
  <!-- BEGIN PAGE CONTAINER -->
  <div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <%--<div class="page-head">
      <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
          <h1>Blank Page Layout <small>blank page sample</small></h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
          <!-- BEGIN THEME PANEL -->
          <div class="btn-group btn-theme-panel">
            <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-settings"></i>
            </a>
            <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3>THEME COLORS</h3>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <ul class="theme-colors">
                        <li class="theme-color theme-color-default" data-theme="default">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Default</span>
                        </li>
                        <li class="theme-color theme-color-blue-hoki" data-theme="blue-hoki">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Blue Hoki</span>
                        </li>
                        <li class="theme-color theme-color-blue-steel" data-theme="blue-steel">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Blue Steel</span>
                        </li>
                        <li class="theme-color theme-color-yellow-orange" data-theme="yellow-orange">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Orange</span>
                        </li>
                        <li class="theme-color theme-color-yellow-crusta" data-theme="yellow-crusta">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Yellow Crusta</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <ul class="theme-colors">
                        <li class="theme-color theme-color-green-haze" data-theme="green-haze">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Green Haze</span>
                        </li>
                        <li class="theme-color theme-color-red-sunglo" data-theme="red-sunglo">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Red Sunglo</span>
                        </li>
                        <li class="theme-color theme-color-red-intense" data-theme="red-intense">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Red Intense</span>
                        </li>
                        <li class="theme-color theme-color-purple-plum" data-theme="purple-plum">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Purple Plum</span>
                        </li>
                        <li class="theme-color theme-color-purple-studio" data-theme="purple-studio">
                          <span class="theme-color-view"></span>
                          <span class="theme-color-name">Purple Studio</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 seperator">
                  <h3>LAYOUT</h3>
                  <ul class="theme-settings">
                    <li>Theme Style
										<select class="theme-setting theme-setting-style form-control input-sm input-small input-inline tooltips" data-original-title="Change theme style" data-container="body" data-placement="left">
                      <option value="boxed" selected="selected">Square corners</option>
                      <option value="rounded">Rounded corners</option>
                    </select>
                    </li>
                    <li>Layout
										<select class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips" data-original-title="Change layout type" data-container="body" data-placement="left">
                      <option value="boxed" selected="selected">Boxed</option>
                      <option value="fluid">Fluid</option>
                    </select>
                    </li>
                    <li>Top Menu Style
										<select class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change top menu dropdowns style" data-container="body" data-placement="left">
                      <option value="dark" selected="selected">Dark</option>
                      <option value="light">Light</option>
                    </select>
                    </li>
                    <li>Top Menu Mode
										<select class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) top menu" data-container="body" data-placement="left">
                      <option value="fixed">Fixed</option>
                      <option value="not-fixed" selected="selected">Not Fixed</option>
                    </select>
                    </li>
                    <li>Mega Menu Style
										<select class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change mega menu dropdowns style" data-container="body" data-placement="left">
                      <option value="dark" selected="selected">Dark</option>
                      <option value="light">Light</option>
                    </select>
                    </li>
                    <li>Mega Menu Mode
										<select class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) mega menu" data-container="body" data-placement="left">
                      <option value="fixed" selected="selected">Fixed</option>
                      <option value="not-fixed">Not Fixed</option>
                    </select>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
      </div>
    </div>--%>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                Widget settings form goes here
              </div>
              <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb breadcrumb-ekyzmat">
          <li>
            <a href="index.html">Главная</a><i class="fa fa-circle"></i>
          </li>
         <%-- <%= GetRoutes() %>--%>

          <%--<li>
            <a href="layout_blank_page.html">Features</a>
            <i class="fa fa-circle"></i>
          </li>
          <li class="active">Blank Page Layout
          </li>--%>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">
          <div class="col-md-12">

            
            <asp:XmlDataSource ID="XmlDataSource1" runat="server" XPath="root/item" EnableCaching="False"></asp:XmlDataSource>


            <div class="portlet light">
              <div class="portlet-title">
                <div class="caption">
                  <asp:Label ID="lbInfo" runat="server" />
                  <%--<i class="fa fa-cogs font-green-sharp"></i>--%>
                 <%-- <span class="caption-subject font-green-sharp bold uppercase">List Groups</span>--%>
                </div>
                <%--<div class="tools">
                  <a title="" data-original-title="" href="javascript:;" class="collapse"></a>
                  <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"></a>
                  <a title="" data-original-title="" href="javascript:;" class="reload"></a>
                  <a title="" data-original-title="" href="javascript:;" class="remove"></a>
                </div>--%>
              </div>
              <div class="portlet-body">
                <%--<h4 class="block">Basic</h4>--%>
                <ul class="list-group">

                  <asp:Repeater ID="Repeater1" runat="server" EnableViewState="False">
                    <ItemTemplate>
                      <a class="list-group-item" href='<%# GetUrl(Eval("id")) %>' runat="server">
                        <asp:Label  runat="server" Text='<%# Eval("name")%>'></asp:Label>
                      </a>
                    </ItemTemplate>
                  </asp:Repeater>
                    <asp:Label ID="Label2"  runat="server"></asp:Label>
                </ul>
              </div>
            </div>























<%--            Page content goes here

            
          <div class="portlet dark">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cogs font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">List Groups</span>
              </div>
              <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse"></a>
                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"></a>
                <a title="" data-original-title="" href="javascript:;" class="reload"></a>
                <a title="" data-original-title="" href="javascript:;" class="remove"></a>
              </div>
            </div>
            <div class="portlet-body">
              <h4 class="block">Basic</h4>
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio
								</li>
                <li class="list-group-item">Dapibus ac facilisis in
								</li>
                <li class="list-group-item">Morbi leo risus
								</li>
                <li class="list-group-item">Porta ac consectetur ac
								</li>
                <li class="list-group-item">Vestibulum at eros
								</li>
              </ul>
              <h4 class="block">Custom Colors(refer to ui_colors.html for more colors)</h4>
              <ul class="list-group">
                <li class="list-group-item bg-blue">Cras justo odio
								</li>
                <li class="list-group-item bg-red">Dapibus ac facilisis in
								</li>
                <li class="list-group-item bg-green">Morbi leo risus
								</li>
                <li class="list-group-item bg-purple">Porta ac consectetur ac
								</li>
                <li class="list-group-item bg-yellow">Vestibulum at eros
								</li>
              </ul>
              <h4 class="block">Badges</h4>
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio <span class="badge badge-default">3 </span>
                </li>
                <li class="list-group-item">Dapibus ac facilisis in <span class="badge badge-success">11 </span>
                </li>
                <li class="list-group-item">Morbi leo risus <span class="badge badge-danger">new </span>
                </li>
                <li class="list-group-item">Porta ac consectetur ac <span class="badge badge-warning">4 </span>
                </li>
                <li class="list-group-item">Vestibulum at eros <span class="badge badge-info">3 </span>
                </li>
              </ul>
              <h4 class="block">Contextual States</h4>
              <ul class="list-group">
                <li class="list-group-item">Default
								</li>
                <li class="list-group-item list-group-item-success">Success
								</li>
                <li class="list-group-item list-group-item-info">Info <span class="badge badge-warning">3 </span>
                </li>
                <li class="list-group-item list-group-item-warning">Warning <span class="badge badge-default">3 </span>
                </li>
                <li class="list-group-item list-group-item-danger">Danger
								</li>
              </ul>
              <h4 class="block">Linked Contextual Items</h4>
              <div class="list-group">
                <a href="javascript:;" class="list-group-item">Default </a>
                <a href="javascript:;" class="list-group-item list-group-item-success">Success </a>
                <a href="javascript:;" class="list-group-item list-group-item-info">Info <span class="badge badge-warning">3 </span>
                </a>
                <a href="javascript:;" class="list-group-item list-group-item-warning">Warning <span class="badge badge-default">3 </span>
                </a>
                <a href="javascript:;" class="list-group-item list-group-item-danger">Danger </a>
              </div>
              <h4 class="block">Custom Content</h4>
              <div class="list-group">
                <a href="javascript:;" class="list-group-item active">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
							
                  </p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
							
                  </p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text">
                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
							
                  </p>
                </a>
              </div>
            </div>
          </div>--%>



          </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
      </div>
    </div>
    <!-- END PAGE CONTENT -->
  </div>
  <!-- END PAGE CONTAINER -->
  <!-- BEGIN PRE-FOOTER -->
  <div class="page-prefooter">
    <%--<div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
          <h2>About</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs12 footer-block">
          <h2>Subscribe Email</h2>
          <div class="subscribe-form">
            <form action="javascript:;">
              <div class="input-group">
                <input type="text" placeholder="mail@email.com" class="form-control">
                <span class="input-group-btn">
                  <button class="btn" type="submit">Submit</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
          <h2>Follow Us On</h2>
          <ul class="social-icons">
            <li>
              <a href="javascript:;" data-original-title="rss" class="rss"></a>
            </li>
            <li>
              <a href="javascript:;" data-original-title="facebook" class="facebook"></a>
            </li>
            <li>
              <a href="javascript:;" data-original-title="twitter" class="twitter"></a>
            </li>
            <li>
              <a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
            </li>
            <li>
              <a href="javascript:;" data-original-title="linkedin" class="linkedin"></a>
            </li>
            <li>
              <a href="javascript:;" data-original-title="youtube" class="youtube"></a>
            </li>
            <li>
              <a href="javascript:;" data-original-title="vimeo" class="vimeo"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
          <h2>Contacts</h2>
          <address class="margin-bottom-40">
            Phone: 800 123 3456<br>
            Email: <a href="mailto:info@metronic.com">info@metronic.com</a>
          </address>
        </div>
      </div>
    </div>--%>
  </div>
  <!-- END PRE-FOOTER -->
  <!-- BEGIN FOOTER -->
  <div class="page-footer">
    <div class="container">
      <%--2014 &copy; Metronic. All Rights Reserved.--%>
    </div>
  </div>
  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>
  <!-- END FOOTER -->
  <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
  <!-- BEGIN CORE PLUGINS -->
  <!--[if lt IE 9]>
<script src="assets/global/plugins/respond.min.js"></script>
<script src="assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
  <script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
  <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
  <script src="assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
  <script src="assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
  <!-- END CORE PLUGINS -->
  <script src="assets/global/scripts/metronic.js" type="text/javascript"></script>
  <script src="assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
  <script src="assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
  <script>
    jQuery(document).ready(function () {
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      Demo.init(); // init demo features
    });
  </script>
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
